################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/mediasorter
/Mediasorter.Tests/obj
/Mediasorter.Tests/bin/Debug/net6.0
/.vs/ProjectEvaluation
